/* Main category headers */
.algolia-docsearch-suggestion--category-header {
  background-color: #ea668e !important;
}
/* Highlighted search terms */
.algolia-docsearch-suggestion--highlight {
  color: #c53c65 !important;
}
/* Highlighted search terms in the main category headers */
.algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight  {
  background-color: #c7778f !important;
}
/* Currently selected suggestion */
.aa-cursor .algolia-docsearch-suggestion--content {
  color: #c9597a !important;
}
.aa-cursor .algolia-docsearch-suggestion {
  background: #EBEBFB !important;
}

.algolia-search-wrapper .algolia-autocomplete .ds-cursor .algolia-docsearch-suggestion--content {
  background-color: #ecd8de !important;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Fira Sans", "Droid Sans", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
